<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_DISPLAY_NAME)</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>UHC uses Apple Music to control the session you choose on this iPhone.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>UHC uses your local network to find your paired UHC server.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_uhc._tcp</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
